aside.sidebar {
    position: fixed;
    height: 100%;
    padding: 3.2rem 2.4rem;
    background: #282a36;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;   
}

aside.sidebar footer button {
    width: 48px;
    height: 48px;
    border: none;
    background: #282a36;
    border-radius: 1.6rem;
    cursor: pointer; /* muda o aspecto do cursor quando em cima */

    display : flex;
    align-items: center;
    justify-content: center;

    transition: background-color 200ms;
}

aside.sidebar footer button:hover {
    background: #282a36;
}

.with-sidebar {
    padding-left: 110px;
}